<div>
  <form (ngSubmit)="editing ? updateMarca() : addMarca()">
    <label for="nombre">Nombre de la Marca</label>
    <input id="nombre" [(ngModel)]="nombre" name="nombre" required placeholder="Nombre de la Marca" />

    <label for="pais">País de Origen</label>
    <input id="pais" [(ngModel)]="pais" name="pais" required placeholder="País de Origen" />

    <label for="anio">Año de Fundación</label>
    <input id="anio" [(ngModel)]="anio" name="anio" placeholder="Año de Fundación" />

    <button type="submit">{{ editing ? 'Actualizar Marca' : 'Agregar Marca' }}</button>
  </form>

  <h3>Marcas de Carros:</h3>
  <ul>
    <li *ngFor="let marca of marcas">
      {{ marca.nombre }} - {{ marca.pais }} - {{ marca.anio }}
      <button (click)="editMarca(marca)">Editar</button>
      <button (click)="deleteMarca(marca)">Eliminar</button>
    </li>
  </ul>
</div>
